<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fiche Employé</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/employee/list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/new">Add</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>About Employee</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Informations de l'employé</h2>
            <table class="table">
                <tr>
                    <th>Prénom</th>
                    <td th:text="${employee.firstname}"></td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td th:text="${employee.lastname}"></td>
                </tr>
                <tr>
                    <th>Date de naissance</th>
                    <td th:text="${employee.birthDate}"></td>
                </tr>
                <tr>
                    <th>Matricule</th>
                    <td th:text="${employee.matricule}"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Photo d'identité</h2>
            <img th:src="@{'data:image/jpeg;base64,' + ${employee.image}}" alt="image" class="img-fluid">
        </div>
    </div>
</div>

</body>
</html>
